.alert {
    position: fixed;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 80%;
    transition: width 0.4s ease-in-out;
}

.alert.success {background-color: #04AA6D; transition: width 0.4s ease-in-out;}
.alert.info {background-color: #2196F3; transition: width 0.4s ease-in-out;}
.alert.warning {background-color: #ff9800; transition: width 0.4s ease-in-out;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}