.form-signin {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    background-color: black;
    opacity: 70%;
}
  
.form-signin .form-floating:focus-within {
    z-index: 2;
}
  
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}