.form-registration {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    background-color: black;
    opacity: 70%;
}

.form-registration input {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-registration .form-floating:focus-within {
    z-index: 2;
}
  